aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==25.4.0
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
dnspython==2.8.0
Flask==1.1.2
frozenlist==1.8.0
gunicorn==20.1.0
idna==3.11
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==3.0.3
marshmallow==3.14.1
motor==2.5.1
multidict==6.7.0
packaging==25.0
propcache==0.4.1
pyaes==1.6.1
pymediainfo-pyrofork==6.0.2
pymongo==3.12.3
pyrofork==2.3.45
Pyrogram==2.0.106
PySocks==1.7.1
python-dotenv==0.21.1
pytz==2025.2
requests==2.32.5
shortzy==0.0.8
soupsieve==2.8
TgCrypto==1.2.5
typing_extensions==4.15.0
umongo==3.0.1
urllib3==2.6.1
validators==0.35.0
Werkzeug==2.0.2
yarl==1.22.0
aiohappyeyeballs
aiohttp
aiosignal
attrs
beautifulsoup4
blinker
certifi
charset-normalizer
click
dnspython
Flask==1.1.2
frozenlist
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
marshmallow
motor
multidict
packaging
propcache
pyaes
pymediainfo-pyrofork
pymongo==3.12.3
pyrofork
Pyrogram
PySocks
python-dotenv
pytz
requests
shortzy
soupsieve
TgCrypto
typing_extensions
umongo
urllib3
validators
Werkzeug==2.0.2
yarl
aiohttp
beautifulsoup4
flask
gunicorn
motor
pyaes
pymongo
pyrofork
pyrogram
pysocks
python-dotenv
requests
shortzy
tgcrypto
umongo
validators
aiohttp
beautifulsoup4
flask==1.1.2
gunicorn
itsdangerous
jinja2
marshmallow
motor
pyaes
pymongo==3.12.3
pyrofork
pyrogram
pysocks
python-dotenv
pytz
requests
shortzy
tgcrypto
umongo
validators
werkzeug==2.0.2
bcrypt
aiohttp
bcrypt
beautifulsoup4
flask
gunicorn
marshmallow
motor
pyaes
pymongo
pyrofork
pyrogram
pysocks
python-dotenv
pytz
requests
shortzy
tgcrypto
umongo
validators
aiohttp
beautifulsoup4
Flask==1.1.2
gunicorn
marshmallow
motor
pyaes
pymongo==3.12.3
pyrofork
pyrogram
pysocks
python-dotenv
pytz
requests
shortzy
tgcrypto
umongo
validators
bcrypt
